/* Overlay: centrăm modalul */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Containerul modalului: ocupă 75% din lățimea ecranului și este dreptunghiular */
.modalContent {
  position: relative;
  background: #fff;
  padding: 20px;
  width: 75vw;
  border-radius: 6px;
  position: relative;
  padding-bottom: 30px;
}
/* Coloana dreaptă: grid cu 3 coloane pentru câmpurile formularului */
.rightColumn {
  min-width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  row-gap: 0;
  grid-auto-rows: 35px;
}

/* Structura în două coloane pentru conținutul modalului */
.columns {
  display: flex;
  gap: 30px;
}

/* Coloana stângă: pentru imagine și descriere */
.leftColumn {
  min-width: 300px;
}

/* Containerul imaginii: dimensiuni fixe (300px x 300px) */
.leftColumn .imageContainer {
  width: 300px;
  height: 300px;
  margin: 0;
  border: 1px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Zona pentru descriere, fixă la 300px lățime, ca și imaginea */
.leftColumn .descriptionPreview {
  width: 300px;
  margin: 0 auto;
}
.description {
  max-width: 300px;
  width: 300px;
  height: 200px;
  overflow: hidden;
  overflow-y: auto;
  margin: 20px 0;
}

/* Gruparea câmpurilor din coloana dreaptă */
.rightColumn .fieldGroup {
  display: flex;
  flex-direction: column;
}

.closeButton {
  position: absolute;
  bottom: 20px;
  right: 50px;
}
