.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  border-bottom: 1px solid #ccc;
}

.table tbody tr {
  border-bottom: 1px solid #eee;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
}

.colBarCode {
  min-width: 150px;
}
.colName {
  min-width: 250px;
  overflow: hidden;
  width: auto;
}
.markup {
  width: 110px;
}

.input {
  width: 70px;
  padding: 4px;
  box-sizing: border-box;
}

.btn {
  padding: 0.4rem 1rem;
  font-weight: 600;
}
