.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.categoryFilter {
  height: 35px;
  cursor: pointer;
}
.supplierFilter {
  min-width: 100px;
  padding: 0.5rem;
  cursor: pointer;
}

.searchBar {
  min-width: 500px;
  padding: 0.5rem;
}

/* Grup pentru câmpurile de preț (Min/Max) */
.priceInputs {
  display: flex;
  gap: 5px;
  align-items: center;
}

/* Stilul pentru fiecare input numeric de preț */
.priceInput {
  width: 90px;
  height: 35px;
}
