.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.categoryFilter {
  height: 35px;
  cursor: pointer;
}
.supplierFilter {
  min-width: 100px;
  padding: 0.5rem;
  cursor: pointer;
}
.resetButton {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #e0e0e0;
  color: #333;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.resetButton:hover {
  background-color: #ccc;
}

.searchBar {
  min-width: 500px;
  padding: 0.5rem;
}

/* Grup pentru câmpurile de preț (Min/Max) */
.priceInputs {
  display: flex;
  gap: 5px;
  align-items: center;
}

/* Stilul pentru fiecare input numeric de preț */
.priceInput {
  width: 90px;
  height: 35px;
}
