.sidebar {
  width: 250px;
  background-color: #f5f5f5;
  padding: 1rem;
  overflow: visible;
  border-right: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: width 0.3s ease, padding 0.3s ease;
  flex-shrink: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.sidebarClosed {
  width: 0;
  padding: 0;
  border-right: none;
}

.toggleButton {
  position: absolute;
  top: 10px;
  right: -20px;
  background: #c01111;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: background-color 0.2s ease;
  padding-right: 17px;
  padding-bottom: 12px;
}

.toggleButton:hover {
  opacity: 1;
  transform: translateY(0);
  box-shadow: none;
}

.menuItemsContainer {
  margin-top: 50px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease, visibility 0s linear 0s;
  overflow-y: auto;
  height: 80%;
  /* --- Stiluri pentru Scrollbar --- */

  /* Pentru Firefox */
  scrollbar-width: thin; /* Face scrollbar-ul mai subțire */
  scrollbar-color: #e7e6e6 transparent; /* Culoare thumb (bară) și culoare track (fundal) */
  /* Pentru WebKit (Chrome, Safari, Edge, etc.) */
  &::-webkit-scrollbar {
    width: 2px; /* Lățimea scrollbar-ului */
  }
  &::-webkit-scrollbar-track {
    background: transparent; /* Fundalul track-ului transparent */
    border-radius: 3px; /* Colțuri rotunjite (opțional) */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Culoarea barei (thumb) */
    border-radius: 3px; /* Colțuri rotunjite */
    border: 1px solid transparent; /* Creează un mic spațiu în jurul barei */
    background-clip: content-box; /* Face ca border să funcționeze ca padding */
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #888888; /* Culoare bară la hover */
  }
}
.sidebarClosed .menuItemsContainer {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease, visibility 0s linear 0.1s;
}
.menuItem {
  margin-bottom: 1rem;
  white-space: nowrap;
}

.menuTitle {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #e0e0e0;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  white-space: nowrap;
}
.menuItem {
  margin-bottom: 1rem;
}

.menuTitle {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #e0e0e0;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.menuTitle:hover {
  background-color: #d0d0d0;
}

.subMenu {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.subMenuItem {
  cursor: pointer;
  padding: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin-bottom: 0.25rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.subMenuItem:hover {
  background-color: #f0f0f0;
}
